<article id="bloc_module_edition">

  <div id="bloc_module_edition_titre">
    <h1>Module édition</h1>
  </div>

  <div class="bloc_module_edition_choix">
    <p>Souhaitez-vous modifier:
      <input type="radio" value="thematique" name="objet"
             (change)="setTypeObjet('thematique')"/> une thematique ou
      <input type="radio" value="lien" name="objet"
             (change)="setTypeObjet('lien')"/>un lien<br />
    </p>
  </div>

  <div class="bloc_module_edition_choix" *ngIf="typeObjet==='lien'">
    <p>Quelle type de modification souhaitez-vous ?</p>
    <input type="radio" value="create" name="type_modification"
           (change)="setTypeModification('create')"/>Créer un nouveau lien<br />
    <input type="radio" value="update" name="type_modification"
           (change)="setTypeModification('update')"/>Modifier un lien existant<br />
    <input type="radio" value="publier" name="type_modification"
           (change)="setTypeModification('publier')"/>Publier un lien existant<br />
    <input type="radio" value="delete" name="type_modification"
           (change)="setTypeModification('delete')"/>Supprimer un lien existant<br />
  </div>

  <div class="bloc_module_edition_choix" *ngIf="typeObjet==='thematique'">
    <p>Quelle type de modification souhaitez-vous ?</p>
    <input type="radio" value="create" name="type_modification"
           (change)="setTypeModification('create')"/>Créer une nouvelle thematique<br />
    <input type="radio" value="update" name="type_modification"
           (change)="setTypeModification('update')"/>Modifier une thematique existante<br />
    <input type="radio" value="delete" name="type_modification"
           (change)="setTypeModification('delete')"/>Supprimer une thematique existante<br />
  </div>

  <div *ngIf="typeModification == 'update' && typeObjet==='thematique'"
       class="bloc_module_edition_saisie">
    <form method="post" action="vers serviceLien.ts d'Angular">
      <p>
        <label for="theme">Nom du thème : </label>
        <select name="theme" id="theme" (change)="setThematiqueNiveau1($event)">
          <option [ngValue]="thematique"
                  *ngFor="let thematique of allThematiques">{{ thematique.nom }}</option>
        </select><br />
      </p>
      <p>
        <label for="theme">Nom du sous-thème : </label>
        <select name="sous_theme" id="sous_theme">
          <option value="thematique.nom" *ngFor="let thematique of thematiquesNiveau2">{{ thematique.nom }}</option>
        </select><br />
      </p>

    </form>
  </div>


</article>
