<article id="bloc_module_edition">

  <div id="bloc_module_edition_titre">
    <h1>Module édition</h1>
  </div>

  <div class="bloc_module_edition_choix">
    <p>Souhaitez-vous modifier:
      <input type="radio" value="thematique" name="objet"
             (change)="setTypeObjet('thematique')"/> une thematique ou
      <input type="radio" value="lien" name="objet"
             (change)="setTypeObjet('lien')"/>un lien<br />
    </p>
  </div>

  <div class="bloc_module_edition_choix" *ngIf="typeObjet==='lien'">
    <p>Quelle type de modification souhaitez-vous ?</p>
    <input type="radio" value="create" name="type_modification"
           (change)="setTypeModification('create')"/>Créer un nouveau lien<br />
    <input type="radio" value="update" name="type_modification"
           (change)="setTypeModification('update')"/>Modifier un lien existant<br />
    <input type="radio" value="publier" name="type_modification"
           (change)="setTypeModification('publier')"/>Publier un lien existant<br />
    <input type="radio" value="delete" name="type_modification"
           (change)="setTypeModification('delete')"/>Supprimer un lien existant<br />
  </div>

  <div class="bloc_module_edition_choix" *ngIf="typeObjet==='thematique'">
    <p>Quelle type de modification souhaitez-vous ?</p>
    <input type="radio" value="create" name="type_modification"
           (change)="setTypeModification('create')"/>Créer une nouvelle thematique<br />
    <input type="radio" value="update" name="type_modification"
           (change)="setTypeModification('update')"/>Modifier une thematique existante<br />
    <input type="radio" value="delete" name="type_modification"
           (change)="setTypeModification('delete')"/>Supprimer une thematique existante<br />
  </div>

  <div *ngIf="typeModification == 'create' && typeObjet==='thematique'"
       class="bloc_module_edition_saisie">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <p><em>Sélectionnez : </em></p>
      <p>
        <label for="theme">nom du thème : </label>
        <select id="theme" name="theme" (ngModelChange)="setThematiqueNiveau1($event)" ngModel>
          <option></option>
          <option [ngValue]="thematique.id"
                  *ngFor="let thematique of allThematiques">{{ thematique.nom}}</option>
        </select>
        <br />
      </p>
      <p>
        <label for="theme">nom du sous-thème : </label>
        <select name="sous_theme" id="sous_theme" (ngModelChange)="setThematiqueNiveau2($event)" ngModel>
          <option [ngValue]="thematique.id"
                  *ngFor="let thematique of thematiquesNiveau2">{{ thematique.nom }}</option>
        </select><br />
      </p>
      <p>
        <label for="theme">nom du sous sous-thème : </label>
        <select name="sous_sous_theme" id="sous_sous_theme">
          <option value="thematique.id"
                  *ngFor="let thematique of thematiquesNiveau3">{{ thematique.nom }}</option>
        </select><br />
      </p>
      <button type="submit">Créer</button>
    </form>
  </div>


</article>
