<div id="section_theme">

  <article id="bloc_theme">
    <!--       style="background-image: url('/assets/images/{{ getImage() }}');background-repeat: no-repeat;"> -->

    <div class="bloc_sous_theme">

      <button *ngIf="indicateursEdition.isModeEdition === true"
              (click)="editerThematique(2)">
        <img src="/assets/images/pencil16px.svg"
             alt="modifier le sous-thème"
             title="modifier le sous-thème">
      </button>
      <div class="bloc_lien" *ngFor="let lienNiveau1 of liensNiveau1">
        <p *ngIf="lienNiveau1.thematique.id == getIdTheme()
                  && lienNiveau1.statut == 'publié'">
          <a *ngIf="lienNiveau1.mode_affichage == false"
             href="{{ lienNiveau1.url }}"
             title="{{ lienNiveau1.description }}"
             target="_blank">{{ lienNiveau1.nom }}</a>
          <a *ngIf="lienNiveau1.mode_affichage == true"
             title="{{ lienNiveau1.description }}"
             href="{{ lienNiveau1.url }}">{{ lienNiveau1.nom }}</a>
          <img  *ngIf="indicateursEdition.isModeEdition === true"
                (click)="editerLien('lien')"
                src="/assets/images/pencil16px.svg"
                alt="modifier le lien"
                title="modifier le lien">
        </p>
      </div>
    </div>

    <div class="bloc_sous_theme" *ngFor="let themeNiveau2 of themesNiveau2">
      <div class="bloc_titre">
        <a class="button_theme"
                *ngIf="themeNiveau2.niveau == 2"
                title="{{ themeNiveau2.description }}"
                (click)="getThemesNiveau3EtLiens(themeNiveau2.id)">
          <h4>{{ themeNiveau2.nom }} </h4>
        </a>
        <img *ngIf="indicateursEdition.isModeEdition === true"
             (click)="editerThematique(3)"
             src="/assets/images/pencil16px.svg"
             alt="modifier le sous-thème"
             title="modifier le sous-thème">
      </div>
      <div class="bloc_lien" *ngFor="let lien of liens">
        <p *ngIf="lien.thematique.id == themeNiveau2.id
                  && lien.statut == 'publié'">
          <a *ngIf="lien.mode_affichage == false"
             href="{{ lien.url }}"
             title="{{ lien.description }}"
             target="_blank">{{ lien.nom }}</a>
          <a *ngIf="lien.mode_affichage == true"
             title="{{ lien.description }}"
             href="{{ lien.url }}">{{ lien.nom }}</a>
          <img *ngIf="indicateursEdition.isModeEdition === true"
               (click)="editerLien('lien')"
               src="/assets/images/pencil16px.svg"
               alt="modifier le lien"
               title="modifier le lien">
        </p>
      </div>

      <div class="bloc_sous_sous_theme" *ngFor="let themeNiveau3 of themesNiveau3">
        <div class="bloc_lien">
          <div class="bloc_titre">
            <a class="button_theme"
                    *ngIf="themeNiveau3.niveau == 3 && themeNiveau2.id == themeNiveau3.idParent"
                    title="{{ themeNiveau2.description }}"
                    (click)="getLiens(themeNiveau3.id)">
              <h4>{{ themeNiveau3.nom }}</h4>
            </a>
            <img *ngIf="themeNiveau3.niveau == 3 && themeNiveau2.id == themeNiveau3.idParent
                        && indicateursEdition.isModeEdition === true"
                 (click)="editerThematique(4)"
                 src="/assets/images/pencil16px.svg"
                 alt="modifier le sous sous-thème"
                 title="modifier le sous sous-thème">
          </div>
          <div *ngFor="let lien of liens">
            <p *ngIf="lien.thematique.id == themeNiveau3.id
                      && themeNiveau2.id == themeNiveau3.idParent
                      && lien.statut == 'publié'">
              <a *ngIf="lien.mode_affichage == false"
                 href="{{ lien.url }}"
                 title="{{ lien.description }}"
                 target="_blank">{{ lien.nom }}</a>
              <a *ngIf="lien.mode_affichage == true"
                 title="{{ lien.description }}"
                 href="{{ lien.url }}">{{ lien.nom }}</a>
              <img  *ngIf="indicateursEdition.isModeEdition === true"
                    (click)="editerLien('lien')"
                    src="/assets/images/pencil16px.svg"
                    alt="modifier le lien"
                    title="modifier le lien">
            </p>
          </div>
        </div>
      </div>
    </div>

  </article>

  <app-section-theme-edition *ngIf="indicateursEdition.isModeEdition === true
                                    && indicateursEdition.isEdition === true">
  </app-section-theme-edition>


</div>
