
<article id="bloc_theme" style="background-image: url('/assets/images/{{ getImage() }}');background-repeat: no-repeat;opacity: 0.2;">
    <p *ngIf="getIsAuth() === true">arbre à dérouler du thème {{ getIdTheme() }}</p>

        <div class="bloc_sous_theme">
          <div class="bloc_titre">
            <h4>RENAULT</h4>
          </div>
          <div class="bloc_lien">
            <p>Megane</p>
          </div>
        </div>

        <div class="bloc_sous_theme">
          <h4>PEUGEOT</h4>
          <div class="bloc_lien">
            <p>concept car</p>
          </div>
          <div class="bloc_sous_sous_theme">
            <div class="bloc_lien">
              <h4>compacts</h4>
              <p>108</p>
            </div>
          </div>
        </div>

        <div class="bloc_sous_theme">
          <h4>CITROEN</h4>
          <div class="bloc_lien">
            <p>C1</p>
            <p>C2</p>
            <p>C3</p>
            <p>C4 Picasso</p>
            <p>C5</p>
          </div>
        </div>

</article>
