<header>
  <div id="bloc_contact">
    <div id="contact_mail">
      <p>Contact : MLIST PARIS............</p>
    </div>
    <div id="contact_phone">
      <p>01 40 14 13 04</p>
    </div>
  </div>

  <div id="bloc_titre">
    <h1>Portail de l'automobile</h1>
  </div>

  <div id="bloc_utilisateur">
    <div id="nom_utilisateur">
      <p *ngIf="getIsAuth() === true">{{ getUsername() }}</p>
    </div>
    <!-- lorsque l'utilisateur est déjà connecté, le lien ne pointe plus sur la page Connexion
      mais juste une info bulle pour indiquer le prenom et le nom de l'utilisateur connecté ou déconnexion -->
    <p class="connexion" *ngIf="getIsAuth() === true">
      <button class="button_menu" (click)="onSignOut()">
        <img src="/assets/images/person24px.svg" alt="déconnexion" title="se déconnecter">
      </button>
    </p>
    <p class="connexion" *ngIf="getIsAuth() === false">
      <a routerLink="">
        <img src="/assets/images/person24px.svg" alt="déconnexion" title="se connecter">
      </a>
    </p>
    <!-- pour les utilisateurs de type Admin et de type 2 lorsqu'ils sont déjà connectés.
    Lorsque l'utilisateur n'est pas connecté, on n'affiche pas l'icône -->
    <p id="edition" *ngIf="getIsAuth() === true
                           && ( getProfil() === 'Administrateur' || getProfil() === 'Rédacteur' )">
      <!-- <a href="maquetteEdition.html"><img src="/assets/images/pencil24px.svg" alt="mode édition de liens" title="mode édition de liens"></a> -->
      <button class="button_menu"
              *ngIf="isModeEdition != true"
              (click)="activerModeEdition()"
              routerLink="edition">
        <img src="/assets/images/pencil24px.svg"
             alt="activer le mode édition de liens"
             title="activer le mode édition de liens">
      </button>
      <button class="button_menu"
              *ngIf="isModeEdition === true"
              (click)="desactiverModeEdition()"
              routerLink="">
          <img src="/assets/images/pencil24px.svg"
               alt="désactiver le mode édition de liens"
               title="désactiver le mode édition de liens">
      </button>
    </p>
    <p id="parametrage" *ngIf="getIsAuth() === true && getProfil() === 'Administrateur'">
      <a href="maquetteParametrage.html"><img src="/assets/images/gear24px.svg" alt="mode paramétrage" title="mode paramétrage"></a>
    </p>
  </div>
</header>

<nav *ngIf="getIsAuth() === true">
  <div class="menu" *ngFor="let theme of themes"
       routerLinkActive="active">
    <a routerLink="theme/{{ theme.id }}">
      <h3 *ngIf="isModeEdition != true" title="{{ theme.description }}">{{ theme.nom }}</h3>
    </a>
  </div>
</nav>

<section>
  <router-outlet></router-outlet>
</section>







